---
import Layout from "../layouts/Layout.astro";
import Masthead from "../components/Masthead.astro";
import Overture from "../components/Overture.astro";
import PamQuote from "../components/PamQuote.astro";
import TrustedBy from "../components/TrustedBy.astro";
import IsThisYou from "../components/IsThisYou.astro";
import NotAFit from "../components/NotAFit.astro";
import TwoPaths from "../components/TwoPaths.astro";
import SelectedWork from "../components/SelectedWork.astro";
import SecondQuote from "../components/SecondQuote.astro";
import ROI from "../components/ROI.astro";
import SkillsMatrix from "../components/SkillsMatrix.astro";
import Services from "../components/Services.astro";
import Process from "../components/Process.astro";
import FAQ from "../components/FAQ.astro";
import Recognition from "../components/Recognition.astro";
import Testimonial from "../components/Testimonial.astro";
import About from "../components/About.astro";
import Contact from "../components/Contact.astro";
import Colophon from "../components/Colophon.astro";
import VariantSwitcher from "../components/VariantSwitcher.astro";
---

<Layout title="Leigh-Ann Martin | Senior EA, fractional partner">
  <Masthead />
  <main>
    <Overture />
    <PamQuote />
    <TrustedBy />
    <About />
    <IsThisYou />
    <NotAFit />
    <TwoPaths />
    <SelectedWork />
    <SecondQuote />
    <ROI />
    <SkillsMatrix />
    <Services />
    <Process />
    <Recognition />
    <Testimonial />
    <FAQ />
    <Contact />
  </main>
  <Colophon />
  <VariantSwitcher current="v1" theme="light" />
</Layout>

<script>
  const revealEls = document.querySelectorAll("[data-reveal]");
  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.add("revealed");
          observer.unobserve(entry.target);
        }
      });
    },
    { threshold: 0.08, rootMargin: "0px 0px -60px 0px" }
  );
  revealEls.forEach((el) => observer.observe(el));
</script>
